<section>
    
    <div class="container">
        <div class="item">
            <figure>
                <img class="portImages" src="../images/rocket.png" alt="rocket">
                <figcaption>Rocket</figcaption>
            </figure>
        </div>
        
        <div class="item">
            <figure>
                <img class="portImages" src="../images/rocket.png" alt="rocket">
                <figcaption>Rocket</figcaption>
            </figure>
        </div>
        
        <div class="item">
            <figure>
                <img class="portImages" src="../images/rocket.png" alt="rocket">
                <figcaption>Rocket</figcaption>
            </figure>    
        </div>
        
        <div class="item">
            <figure>
                <img class="portImages" src="../images/rocket.png" alt="rocket">
                <figcaption>Rocket</figcaption>
            </figure>
        </div>
        
        <div class="item">
            <figure>
                <img class="portImages" src="../images/rocket.png" alt="rocket">
                <figcaption>Rocket</figcaption>
            </figure>
        </div>
        
        <div class="item">
            <figure>
                <img class="portImages" src="../images/rocket.png" alt="rocket">
                <figcaption>Rocket</figcaption>
            </figure>
        </div>    
    </div>
    
</section>